<p id="notice"><%= notice %></p>

<% @comments.each do |comment| %>
  <div class="comments">
    <div id='comment_<%= comment.id %>'><%= comment.comment %></div>
    <div class="pull-right">
      <div><%= link_to 'Edit', edit_comment_path(comment) %> |
         <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  </div>
<% end %>
