<div id="featuredCarousel" class="carousel slide home-large" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#featuredCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#featuredCarousel" data-slide-to="1"></li>
    <li data-target="#featuredCarousel" data-slide-to="2"></li>
    <li data-target="#featuredCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'logo.png' %>
    </div>

    <div class="item">
    </div>
  </div>

  <a class="left carousel-control" href="#featuredCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#featuredCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
