<% @page_title="Homepage" %>

<div class="row">

 	 <div class="container-1 text-center">
		 <h1 class="welcome"> Welcome To Yak Yik!
			 <h2 class="second"> Connecting People to Charities, through Challenges. </h2>
        <%= image_tag "logo.png", class: 'logo' %>
    </div>

</div>
