<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="challenge-form">
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, placeholder: 'A description of the Challenge', class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :terms %><br>
      <%= f.text_area :terms, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :requirement %><br>
      <%= f.text_area :requirement, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :deadline %><br>
      <%= f.datetime_select :deadline, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :payoff %><br>
      <%= f.number_field :payoff, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :Is_the_challenge_open? %><br>
      <%= f.check_box :open_flag %>
    </div>
    <div class="field">
      <%= f.label :minimum_num_of_participants %><br>
      <%= f.select :min_num, 1..100, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :maximum_num_of_participants %><br>
      <%= f.select :max_num, 1..10000, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
