<% @page_title="Challenges" %>
<% @page_header="Challenges" %>

<div class="challenge-page">
  <%= link_to "Create New Challenge", new_challenge_path, class: 'btn' %>
  <div class="container challenge-list">

    <% @challenges.each do |challenge| %>

    <div class="container challenge-item">
      <h4 class="challenge-name"><%= challenge.name %></h4>
      <p class="challenge-info"><%= challenge.description %></p>
      <div class="container-fluid">
        <div class="row">
          <div data-toggle="collapse" data-target='#comment<%= challenge.id %>' class="col-sm-3 challenge-buttons">
            <%= link_to 'View Comments', '#' %>
          </div>
          <div class="col-sm-3 challenge-buttons">
            <%= link_to 'Accept Challenge', accepts_challenge_path(challenge) %>
          </div>

          <% if current_user == challenge.creator %>
          <div class="col-sm-3 challenge-buttons">
            <%= link_to 'Edit Challenge', edit_challenge_path(id: challenge.id) %>
          </div>
          <div class="col-sm-3 challenge-buttons">
            <%= link_to 'Delete Challenge', challenge, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% else %>
          <div class="col-sm-3 challenge-buttons">
            <%= link_to 'More Info', challenge %>
          </div>
          <div class="col-sm-3 challenge-buttons">
            <%= link_to 'contact', contact_path %>
          </div>
          <% end %>
        </div>
      </div>
      <div id='comment<%= challenge.id %>' class="collapse">

        <%= form_for([challenge, Comment.new], remote: true) do |f| %>
          <p><%= f.label :comment, "New Comment" %> <br>
            <%= f.text_area :comment, class: 'form-control' %>
          </p>
          <p><%= f.submit "Add Comment", class: 'btn btn-default' %> </p>
        <%end%>
        <%= render template: 'comments/index', object: @comments = challenge.comments.reverse %>
      </div>
    </div>

    <div class="container">
    </div>

    <% end %>

  </div>

</div>
