@import url(https://fonts.googleapis.com/css?family=Poiret+One|Cabin|Dosis|Lobster|Nunito|Maven+Pro|Shadows+Into+Light|Orbitron|Open+Sans+Condensed:300|Ubuntu+Condensed|Coming+Soon|Raleway);
@import "bootstrap-override";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "base";
@import "reset";
@import "parts";
@import "home";
@import "challenges";
@import "groups";

body{
  font{
    family: $main-font;
  }
  background-color: $main-bgcolor;
  @include animate(bganimation, 5s, infinite);
}

.inner-wrapper{
  min-height: 850px;
  background-color: lighten($main-bgcolor, 5%);
}

.container-1{
  padding-top: 15%;
}
@include keyframes(bganimation, $main-bgcolor, darken($main-bgcolor, 70%));
