.challenge-item{
  border-top: 2px solid lighten($navbar-default-bg, 10%);
  width: 90%;
  padding-top: 2%;
  margin: 0 0 0;
  background-color: lighten($main-bgcolor, 30%);

  .challenge-name{
    font-family: Raleway, 'sans-serif';
    font-size: 1.5em;
  }

  .challenge-info{
    padding-left: 2%;
  }

  .challenge-buttons{
    margin: 1% 0;
    text-align: center;
    background-color: darken($main-bgcolor, 20%);
    border: 1px solid darken($main-bgcolor, 30%);
  }
}

@mixin info{
  border-radius: 3px 3px;
 /** background: lighten(invert($bgcolor), 20%); **/
    background: white;
}
.chlng_info{
  margin: 12px;
  padding: 5px 15px 5px;
  @include info;
}

.chlng_info_lg{
  margin: 20px;
  padding: 15px 15px 15px;
  @include info;
}

.challenge-form{
  padding: 10%;
  .form-control{
    margin-bottom: .5em;
  }
  .actions{
    margin: 3em;
  }
}
