<footer class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav list">

    <li><%= link_to "About Us",         about_path %></li>
    <li><%= link_to "FAQ",              faq_path %></li>
    <li><%= link_to "Contact Us",       contact_path %></li>
    <li><%= link_to "Policy",           policy_path %></li>

  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><a>@copyright the-idi-yak-team</a></li>
    <li><%= link_to "BITBUCKET REPO: https://bitbucket.org/eddybanks03/yakyik_neo", 'https://bitbucket.org/eddybanks03/yakyik_neo', target: '_blank' %></li>
  </ul>
</footer>
