<nav class="navbar navbar-default navbar-custom navbar-fixed-top" role="navigation">

  <div class="row">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "YakYik", root_path, class: "navbar-brand" %>
      </div>
      <div class="container-fluid collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav list">

          <li><%= link_to "Challenges",       challenges_path %></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">

          <% if user_signed_in? %>
            <li><%= link_to 'Edit Profile',edit_user_registration_path %></li>
            <li><%= link_to destroy_user_session_path, method: :delete do%><span class="glyphicon glyphicon-log-out"></span> Logout<% end %></li>
          <% else%>
            <li><%= link_to new_user_registration_path do %><span class="glyphicon glyphicon-user"></span> Sign Up<% end %></li>
            <!-- Button trigger modal -->
            <li><a role="button" class="glyphicon glyphicon-log-in" data-toggle="modal" data-target="#myModal">  Login</a>
            </li>
            <li><a></a> </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</nav>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Log In</h3>
      </div>

      <div class="modal-body">
       <%= render template: 'devise/sessions/new'%>
      </div>

    </div>
  </div>
</div>
