<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? "Yakyik | #{@page_title} " : "Yakyik" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render '/layouts/shim' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="outer-wrapper">

    <%= render 'layouts/navbar' %>
      <% if @page_title != "Homepage" %>
        <div class="container inner-wrapper">
      <% else %>
        <div class="container inner-wrapper">
      <% end %>

      <% if @page_header %>
        <%= render 'layouts/header' %>
      <% end %>

      <%= yield %>

    </div>

    <%= render 'layouts/footer' %>

  </div>

</body>
</html>
